@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width {
  @apply lg:mx-auto lg:px-24 xl:px-48 px-5;
}
.section {
  @apply pt-28 xl:pt-28 2xl:pt-44;
}
.text-content {
  @apply dark:text-light-content text-dark-content;
}
body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-x: hidden;
  text-align: center;
}
body::-webkit-scrollbar {
  width: 5px;
  height: 5px
}
body::-webkit-scrollbar-thumb {
  background: rgb(16, 190, 184);
}
a.active {
  color: rgb(16, 190, 184);
}
.divImage {
  overflow: hidden;
}
img {
  transition: .2s;
}
img:hover {
  transform: scale(1.1);
}